.main-card .card-body {
  background-color: #e5eff5;
  padding-left: 10px;
  padding-right: 10px;
}

.mini-card .card-body {
  background-color: #ffffff;
height: 10px;
}

.mini-card .card {
  margin-bottom: 6px;
  border-radius: 5px;
}